<body>
    
    <app-navbar></app-navbar>

    <div class="container">

        <h1 class="py-4"> Add New Product </h1>
        
        <form [formGroup]="productForm" (ngSubmit)="addProduct(productForm.getRawValue())">
            <div class="row">
        
                <div class="col-xxl-10 col-xl-10 col-lg-8 col-md-8 col-sm-12 col-12">
        

                        <div class="row">

                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                        
                                <label for="name">Name</label>
                                <input type="text" 
                                class="form-control" 
                                id="name" 
                                placeholder="Name"
                                formControlName="name">
                                
                            </div>
                            
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                                
                                <label for="size">Size</label>
                                <div class="input-group mb-3">
        
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    id="size" 
                                    formControlName="size">
                                    <span class="input-group-text" id="basic-addon1">g/ml</span>
                                
                                </div>
                                
                            </div>
                            
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
        
                                <label for="calories">Calories</label>
                                <div class="input-group mb-3">
        
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    id="calories" 
                                    formControlName="calories">
                                    <span class="input-group-text" id="basic-addon1">kJ</span>
        
                                </div>
        
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                        
                                <label for="fat">Fat</label>
                                <div class="input-group mb-3">
                                    <input type="number" 
                                    class="form-control" 
                                    id="fat" 
                                    formControlName="fat">
                                    <span class="input-group-text" id="basic-addon1">g</span>
                                </div>
                                
                            </div>
                            
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                                
                                <label for="sodium">Sodium</label>
                                <div class="input-group mb-3">
        
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    id="sodium"
                                    formControlName="sodium">
                                    <span class="input-group-text" id="basic-addon1">mg</span>
                                
                                </div>
                                
                            </div>
                            
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
        
                                <label for="carbs">Carbohydrates</label>
                                <div class="input-group mb-3">
        
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    id="carbs"
                                    formControlName="carbs">
                                    <span class="input-group-text" id="basic-addon1">g</span>
        
                                </div>
        
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                        
                                <label for="protein">Protein</label>
                                <div class="input-group mb-3">
        
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    id="protein"
                                    formControlName="protein">
                                    <span class="input-group-text" id="basic-addon1">g</span>
        
                                </div>
                                
                            </div>
                            
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                                
                                <label for="calcium">Calcium</label>
                                <div class="input-group mb-3">
        
                                    <input 
                                    type="number" 
                                    class="form-control"
                                    id="calcium" 
                                    formControlName="calcium">
                                    <span class="input-group-text" id="basic-addon1">mg</span>
                                
                                </div>
                                
                            </div>
                            
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
        
                                <label for="iron">Iron</label>
                                <div class="input-group mb-3">
        
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    id="iron" 
                                    formControlName="iron">
                                    <span class="input-group-text" id="basic-addon1">mg</span>
        
                                </div>
        
                            </div>

                        </div>
                        
                    </div>
                    
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12">
                        
                    
                        <label for="name">Vitamins</label>

                        <div class="form-check" *ngFor="let vitamin of vitamins; let i=index">
                            <th scope="row">
                                
                                <input
                                class="form-check-input"
                                type="checkbox" 
                                [value]="vitamin.vitamin" 
                                [checked]="vitamin.select"
                                (change)="onChangeFood($event)">

                                <label class="form-check-label" for="flexCheckDefault">
                                    Vitamin {{" "+vitamin.vitamin}}
                                </label>

                            </th>

                        </div>
                    
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg=12 col-md-12 col-sm-12 col-12 px-4 py-4 center">
                        <button type="Add Product" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
            
    </div>


</body>