<body>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <ul class="navbar-nav text-light">

            <li><a class="nav-link" href="/add-measurement"><div class="py-1">Body Measurement</div></a></li>
            <li><a class="nav-link" href="/daily-intake"><div class="py-1">Daily Intake</div></a></li>
            <li><a class="nav-link" href="/add-product"><div class="py-1">Add New Product</div></a></li>
            <li><a class="nav-link" href="/manage-dish"><div class="py-1">Manage Recipes</div></a></li>
            <li><a class="nav-link" href="/progress-report"><div class="py-1">Progress Report</div></a></li>

          </ul>
        </div>
      </div>

      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          
          </button>

          <div class="col">
            <a class="navbar-brand text-white" href="#">NutriTEC</a>
          </div>

        
        </div>
      
      </nav>
</body>