<body>
    <app-navbar></app-navbar>
    
    <div class="container col-xxl-8 px-4 py-2">

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-lg-6 center">
          <img src="\assets\home_image.png" class="img-fluid" alt="NutriTEC Cover" width="400" height="400" loading="lazy">
        </div>

        <div class="col-lg-6">

          <h1 class="display-3 fw-bold lh-1 mb-3">Welcome to NutriTEC</h1>
          <p class="lead">Achieve Wellness, One Bite at a Time</p>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/login-client" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Client</a>
            <a href="/login-nutri" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Nutritionist</a>
            <a href="/login-admin" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Admin</a>

          </div>

        </div>
      </div>

    </div>
    
</body>

