<nav class="navbar bg-primary navbar-expand-lg">
    <div class="container-fluid">

      <a class="navbar-brand text-white" href="#">NutriTEC</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2">

        </ul>
        
        <form class="d-flex" role="search">

          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>

        </form>
      </div>
    </div>
  </nav>