<body>
    
    <app-sidebar-nutri></app-sidebar-nutri>

    <div class="container">

        <div class="row p-4">

            <h2> My Patients </h2>
            
            <form [formGroup]="clientForm" (ngSubmit)="loadClientInfo(clientForm.getRawValue())">

                <div class="row">

                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 py-3">
    
                        <div class="row">
    
                            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 py-2">
    
                                <select class="form-select" formControlName="client_email">

                                    <option [disabled]="true">Select Patient</option>
                                    <option *ngFor="let patient of patients" [ngValue]="patient.email">
                                        {{patient.name +" "+ patient.lastname1 +" "+ patient.lastname2 }}
                                    </option>

                                </select>
    
                            </div>
    
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 py-2">
    
                                <button class="btn btn-success" type="submit">Load Info</button>
    
                            </div>
    
                        </div>
                        
                    </div>
                    
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        
                        <label for="startDate">Date</label>
                        <input type="date" 
                        class="form-control" 
                        id="date" 
                        placeholder="Leave a comment"
                        formControlName="date">
    
                    </div>
                    
                </div>

            </form>
                
            <div class="row">

                <div class="col-xxl col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 py-2">
                    <div class="card cardColor">
                        <div class="card-body">
                            <h3> Breakfast </h3>
                            <p *ngFor="let daily of getDailyFood('Breakfast')">
                                Dish : {{daily.dish_name}}
                                <br> 
                                Serving : {{daily.serving}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xxl col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 py-2">
                    <div class="card cardColor">
                        <div class="card-body">
                            <h3> Early snack </h3>
                            <p *ngFor="let daily of getDailyFood('Early snack')">
                                Dish : {{daily.dish_name}}
                                <br>
                                Serving : {{daily.serving}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xxl col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 py-2">
                    <div class="card cardColor">
                        <div class="card-body">
                            <h3> Lunch </h3>
                            <p *ngFor="let daily of getDailyFood('Lunch')">
                                Dish : {{daily.dish_name}}
                                <br>
                                Serving : {{daily.serving}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xxl col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 py-2">
                    <div class="card cardColor">
                        <div class="card-body">
                            <h3> Late snack </h3>
                            <p *ngFor="let daily of getDailyFood('Late snack')">
                                Dish : {{daily.dish_name}}
                                <br>
                                Serving : {{daily.serving}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xxl col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 py-2">
                    <div class="card cardColor">
                        <div class="card-body">
                            <h3> Dinner </h3>
                            <p *ngFor="let daily of getDailyFood('Dinner')">
                                Dish : {{daily.dish_name}}
                                <br>
                                Serving : {{daily.serving}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 py-2">

                <form [formGroup]="commentForm" (ngSubmit)="commentClient(commentForm.getRawValue())">
    
                    <div class="row">
    
                        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 py-2">
    
                            <input type="text" 
                            class="form-control" 
                            id="message" 
                            placeholder="Leave a comment"
                            formControlName="message">
    
                        </div>
    
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 py-2">
    
                            <button class="btn btn-success" type="submit">Comment</button>
    
                        </div>
    
                    </div>
    
                </form>

            </div>

        </div>

    </div>

</body>