<body>

    <app-sidebar-client></app-sidebar-client>

    <div class="container">

        <h1 class="py-4"> Add New Measurement </h1>
        
        <form [formGroup]="measurementForm" (ngSubmit)="addMeasurement(measurementForm.getRawValue())">

            <div class="row py-3">

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                    
                    <label for="weight">Weight</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    id="weight" 
                    formControlName="weight">
                    
                </div>
                
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                    
                    <label for="waist">Waist</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    id="waist" 
                    formControlName="waist">
                    
                </div>
                
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                    
                    <label for="neck">Neck</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    id="neck" 
                    formControlName="neck">
                    
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                    
                    <label for="hip">Hip</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    id="hip" 
                    formControlName="hip">
                    
                </div>
                
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                    
                    <label for="muscle_percentage">Muscle Percentage</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    id="muscle_percentage"
                    formControlName="muscle_percentage">
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                    
                    <label for="fat_percentage">Fat Percentage</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    id="fat_percentage"
                    formControlName="fat_percentage">
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 p-2">
                    
                    <label for="date">Date</label>
                    <input 
                    type="date" 
                    class="form-control" 
                    id="date"
                    formControlName="date">
                </div>
            
            </div>

            <div class="row">

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-sm-12 py-2">
                        
                        <button type="submit" class="btn btn-primary">Add Measurement</button>
                </div>

            </div>
        
        </form>

    </div>
        
</body>